
<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Holidays</title>

<script src="https://kit.fontawesome.com/87c5ba1f8d.js" crossorigin="anonymous"></script>
	
	<link rel="shortcut icon" th:href="@{/images/DAT favIcon.png}" type="image/x-icon">
	
	<script src="https://cdn.lordicon.com/ritcuqlt.js"></script>

	<link rel="stylesheet" th:href="@{/css/index.css}">
	<link rel="stylesheet" th:href="@{/css/holiday.css}">


</head>

<body>
<!------------- Internet Connection Status --------------- -->
	<div class="connectionContainer">
		<span id="connection_status"></span>
	</div>
<!------------------------------------------------------------>
	<div class="nav_container">
		<div class="navi_left">
			<i class="fa-solid fa-bars toggle_icon"></i> <label
				class="pagingLabel">Holidays</label>
		</div>

		<div class="navi_right">
			<div class="navi_profile_container">
                <div>
                	<span id="username" th:text="${loginUserName}" ></span>
                	<i class="fa-solid fa-angle-down" ></i>
                </div>
                
                <div id="profile_setting">
                    <form th:action="@{/DAT/profile}">
                    	<button id="profile_content">
                        	<i class="fa-solid fa-circle-user"></i>
                        	<span>Profile</span>
                    	</button>
                    </form>
                    <form th:action="@{/logout}" onSubmit="if(!confirm('Are you sure want to logout?')){return false;}" method="POST">
                    	<button id="profile_content" type="submit">
                        	<i class="fa-solid fa-right-from-bracket"></i>
                        	<span>Logout</span>
                    	</button>
                    </form>
                </div>
            </div>
		</div>

	</div>


	<div class="drawer-container">
        <div class="drawer_container_top">
            <img id="logo" th:src="@{/images/DAT Logo.png}" alt="Logo" />
        </div>

        <div class="drawer_content">
        
            <div class="content" sec:authorize="hasAnyRole('ADMIN','EMPLOYEE')">
            	<span id="tab11"></span>
            	<span id="tab1"></span>
            	<a th:href="@{/DAT/dashboard}">
                	<i class="fa-solid fa-house"></i>
                	<span>Dashboard</span>
            	</a>
            	<span id="tab22"></span>
            	<span id="tab2"></span>
            </div>
            
            <div class="content" sec:authorize="hasAnyRole('ADMIN','EMPLOYEE')">
            	<span id="tab11"></span>
            	<span id="tab1"></span>
            	<a th:href="@{/DAT/lunch}">
                	<i class="fa-solid fa-utensils"></i>
                	<span> Lunch</span>
            	</a>
            	<span id="tab22"></span>
            	<span id="tab2"></span>
            </div>
            
            <div class="content" sec:authorize="hasRole('ADMIN')">
            	<span id="tab11"></span>
            	<span id="tab1"></span>
            	<a th:href="@{/DAT/restaurant}">
                	<i class="fa-solid fa-bell-concierge"></i>
                	<span>Restaurant</span>
           		</a>
           		<span id="tab22"></span>
            	<span id="tab2"></span>
            </div>
            
            <div class="content" sec:authorize="hasRole('ADMIN')">
            	<span id="tab11"></span>
            	<span id="tab1"></span>
            	<a th:href="@{/DAT/avoid_meat}">
                	<i class="fa-solid fa-drumstick-bite"></i>
               		<i class="fa-solid fa-ban "></i>
                	<span>Avoid Meats</span>
            	</a>
            	<span id="tab22"></span>
            	<span id="tab2"></span>
            </div>
            
            <div class="content" sec:authorize="hasRole('ADMIN')">
            	<span id="tab11"></span>
            	<span id="tab1"></span>
            	<a th:href="@{/DAT/admin_list}">
                	<i class="fa-solid fa-users-gear"></i>
                	<span>Admin List</span>
            	</a>
            	<span id="tab22"></span>
            	<span id="tab2"></span>
            </div>
            
            <div class="content" sec:authorize="hasRole('ADMIN')">
            	<span id="tab11"></span>
            	<span id="tab1"></span>
            	<a th:href="@{/DAT/staff_list}">
                	<i class="fa-solid fa-users"></i>
                	<span>Staff List</span>
            	</a>
            	<span id="tab22"></span>
            	<span id="tab2"></span>
            </div>
            
            <div class="content" sec:authorize="hasRole('ADMIN')">
            	<span id="tab11"></span>
            	<span id="tab1"></span>
            	<a th:href="@{/DAT/invoice}">
                	<i class="fa-solid fa-file-invoice-dollar"></i>
                	<span>Invoice</span>
            	</a>
            	<span id="tab22"></span>
            	<span id="tab2"></span>
            </div>
            
            <div class="content selected" sec:authorize="hasAnyRole('ADMIN','EMPLOYEE')">
            	<span id="tab11"></span>
            	<span id="tab1"></span>
            	<a th:href="@{/DAT/holiday_upload}">
            		<i class="fa-solid fa-mug-hot"></i>
            		<span>Holidays</span>
            	</a>
            	<span id="tab22"></span>
            	<span id="tab2"></span>
            </div>
            
            <div class="content" sec:authorize="hasAnyRole('ADMIN','EMPLOYEE')">
            	<span id="tab11"></span>
            	<span id="tab1"></span>
            	<a th:href="@{/DAT/about}">
                	<i class="fa-solid fa-circle-info"></i>
                	<span>About Us</span>
            	</a>
            	<span id="tab22"></span>
            	<span id="tab2"></span>
            </div>
            
        </div>

        <div class="drawer_container_bottom">
            <img id="logo_4BIT_Icon" th:src="@{/images/4BIT_icon.png}" alt="Logo" />
            <img id="logo_4BIT_Text" th:src="@{/images/4BIT_text.png}" alt="Logo" />
        </div>
    </div>



	<div class="center_container">
	
		
		<form th:action="@{/DAT/holiday_refresh}" method="post">
        	<button type="submit" class="refreshBtn">Refresh</button>
        </form>
        
        <label class="holidayHeaderLabel">Holidays Of This Year</label>
		
		<div class="search_upload_container">
			
			<div class="help" sec:authorize="hasRole('ADMIN')">
				<span id="help_icon">?</span>
				<span id="help_title">Holiday Excel/CSV file format?</span>
			</div>

			<div class="inputFile_container">
			

				<form method="post" th:action="@{/DAT/holiday_upload-csv-file}"
					enctype="multipart/form-data" sec:authorize="hasRole('ADMIN')">
					<div class="">
						 <input type="file"
							name="file" class="" id="inputFile" 
							accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" 
							required="required"
						>
					</div>
					<button type="submit" class="" id="saveFileBtn" >Save</button>
				</form>
			</div>

		</div>

		<div class="total_div">
			<label>Total : <span th:text="${days.size()}"></span>
			</label>
		</div>

		<!-- ****************** Table ***************** -->

		<div class="table_container">
			<table class="">
				<thead>
					<tr>
						<th scope="col">No</th>
						<th scope="col">Date</th>
						<th scope="col">Description</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="day, i:${days}">
						<td th:text="${i.count}"></td>
						<td th:text="${day.date}"></td>
						<td th:text="${day.holiday}"></td>
					</tr>




				</tbody>
			</table>
		</div>


	<!-- ===============  Help Popup Container ====================== -->
		<div class="helpPopupContainer">
	
			<button class="closePopupBtn"><i class="fa-solid fa-xmark"></i></button>
			
			<div class="helpCenterContainer">
				<label>Holiday Excel / CSV File Format</label>
				
				<img alt="holiday_file_format_img" th:src="@{/images/holiday_file_format.png}"/>
				
				<span>- Please import the Excel/CSV file as shown in above picture.</span>
			</div>
		
		</div>

	</div>
	


<!-- ****************** Loading Container ************************ -->

	<div class="loading_popup_container">
		

		<div class="loading_container">
			<span class="box"></span> <span class="box"></span>
			<p>Importing data ...</p>
		</div>
	</div>


	<div th:class="${updateMessage_class}">
		<div id="iconBox">
			<lord-icon src="https://cdn.lordicon.com/yqzmiobz.json"
				colors="primary:#00d736"
				trigger="loop" style="width:50px;height:50px"> 
			</lord-icon>
		</div>
		<div id="messageBox">
			<span >SUCCESS!</span>
			<span th:text="${updateMessage}"></span>
		</div>
	</div>



	<script th:src="@{/js/js.js}"></script>
	<script th:src="@{/js/holiday.js}"></script>

</body>

</html>
