<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunch</title>


	<link rel="shortcut icon" th:href="@{/images/DAT favIcon.png}" type="image/x-icon">

   <script src="https://kit.fontawesome.com/87c5ba1f8d.js" crossorigin="anonymous"></script>

	<script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
	
	<link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/lunchRegisteraton.css}">
	
</head>

<body>
<!------------- Internet Connection Status --------------- -->
	<div class="connectionContainer">
		<span id="connection_status"></span>
	</div>
<!------------------------------------------------------------>
    <div class="nav_container">
        <div class="navi_left">
            <i class="fa-solid fa-bars toggle_icon"></i>
            <label class="pagingLabel">Lunch - Lunch Registration</label>
        </div>

        <div class="navi_right">
            <div class="navi_profile_container">
                <div>
                	<span id="username" th:text="${loginUserName}" ></span>
                	<i class="fa-solid fa-angle-down" ></i>
                </div>
                
                <div id="profile_setting">
                    <form th:action="@{/DAT/profile}">
                    	<button id="profile_content">
                        	<i class="fa-solid fa-circle-user"></i>
                        	<span>Profile</span>
                    	</button>
                    </form>
                    <form th:action="@{/logout}" onSubmit="if(!confirm('Are you sure want to logout?')){return false;}" method="POST">
                    	<button id="profile_content" type="submit">
                        	<i class="fa-solid fa-right-from-bracket"></i>
                        	<span>Logout</span>
                    	</button>
                    </form>
                </div>
            </div>
        </div>

    </div>


    <div class="drawer-container">
        <div class="drawer_container_top">
            <img id="logo" th:src="@{/images/DAT Logo.png}" alt="Logo" />
        </div>

        <div class="drawer_content">
        
            <div class="content" sec:authorize="hasAnyRole('ADMIN','EMPLOYEE')">
            	<span id="tab11"></span>
            	<span id="tab1"></span>
            	<a th:href="@{/DAT/dashboard}">
                	<i class="fa-solid fa-house"></i>
                	<span>Dashboard</span>
            	</a>
            	<span id="tab22"></span>
            	<span id="tab2"></span>
            </div>
            
            <div class="content selected" sec:authorize="hasAnyRole('ADMIN','EMPLOYEE')">
            	<span id="tab11"></span>
            	<span id="tab1"></span>
            	<a th:href="@{/DAT/lunch}">
                	<i class="fa-solid fa-utensils"></i>
                	<span> Lunch</span>
            	</a>
            	<span id="tab22"></span>
            	<span id="tab2"></span>
            </div>
            
            <div class="content" sec:authorize="hasRole('ADMIN')">
            	<span id="tab11"></span>
            	<span id="tab1"></span>
            	<a th:href="@{/DAT/restaurant}">
                	<i class="fa-solid fa-bell-concierge"></i>
                	<span>Restaurant</span>
           		</a>
           		<span id="tab22"></span>
            	<span id="tab2"></span>
            </div>
            
            <div class="content" sec:authorize="hasRole('ADMIN')">
            	<span id="tab11"></span>
            	<span id="tab1"></span>
            	<a th:href="@{/DAT/avoid_meat}">
                	<i class="fa-solid fa-drumstick-bite"></i>
               		<i class="fa-solid fa-ban "></i>
                	<span>Avoid Meats</span>
            	</a>
            	<span id="tab22"></span>
            	<span id="tab2"></span>
            </div>
            
            <div class="content" sec:authorize="hasRole('ADMIN')">
            	<span id="tab11"></span>
            	<span id="tab1"></span>
            	<a th:href="@{/DAT/admin_list}">
                	<i class="fa-solid fa-users-gear"></i>
                	<span>Admin List</span>
            	</a>
            	<span id="tab22"></span>
            	<span id="tab2"></span>
            </div>
            
            <div class="content" sec:authorize="hasRole('ADMIN')">
            	<span id="tab11"></span>
            	<span id="tab1"></span>
            	<a th:href="@{/DAT/staff_list}">
                	<i class="fa-solid fa-users"></i>
                	<span>Staff List</span>
            	</a>
            	<span id="tab22"></span>
            	<span id="tab2"></span>
            </div>
            
            <div class="content" sec:authorize="hasRole('ADMIN')">
            	<span id="tab11"></span>
            	<span id="tab1"></span>
            	<a th:href="@{/DAT/invoice}">
                	<i class="fa-solid fa-file-invoice-dollar"></i>
                	<span>Invoice</span>
            	</a>
            	<span id="tab22"></span>
            	<span id="tab2"></span>
            </div>
            
            <div class="content" sec:authorize="hasAnyRole('ADMIN','EMPLOYEE')">
            	<span id="tab11"></span>
            	<span id="tab1"></span>
            	<a th:href="@{/DAT/holiday_upload}">
            		<i class="fa-solid fa-mug-hot"></i>
            		<span>Holidays</span>
            	</a>
            	<span id="tab22"></span>
            	<span id="tab2"></span>
            </div>
            
            <div class="content" sec:authorize="hasAnyRole('ADMIN','EMPLOYEE')">
            	<span id="tab11"></span>
            	<span id="tab1"></span>
            	<a th:href="@{/DAT/about}">
                	<i class="fa-solid fa-circle-info"></i>
                	<span>About Us</span>
            	</a>
            	<span id="tab22"></span>
            	<span id="tab2"></span>
            </div>
            
        </div>

        <div class="drawer_container_bottom">
            <img id="logo_4BIT_Icon" th:src="@{/images/4BIT_icon.png}" alt="Logo" />
            <img id="logo_4BIT_Text" th:src="@{/images/4BIT_text.png}" alt="Logo" />
        </div>
    </div>



    <div class="center_container">
    
    	<input id="holidayArrays" type="hidden" th:value="${holidaysArray}"/>
		
		<!-- ===== Holiday hidden Array --------------  -->

        <form th:action="@{/DAT/lunch}">
    		<button type="submit" class="close"><i class="fa-solid fa-xmark"></i></button>
    	</form>

        <div class="lunch_registeration_container">
            <label id="lunch_registeration_date_label"></label>
            
            <form th:action="@{/DAT/lunch_registration_change}" method="POST" class="calendarChangeDiv">
            	<input id="current_next_option" name="current_next_option" type="hidden" th:value="${current_next_option}"/>
            	<button id="calendarChangeBtn" type="submit" class="nextMonth">Go to Next Month</button>
            </form>

            <div class="lunch_registeration_scroll_container">
				<div>
					<button class="refreshRegisterationTableBtn">Refresh</button>
				</div>
				<table class="calender">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Sunday</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                        </tr>
                    </thead>
                    
                </table>

                <div class="tableExplanation_container">
                    <div id="exp_container">
                        <span style="--color: #2eff2e"></span>
                        <span>Take Lunch</span>
                    </div>
                    <div id="exp_container">
                        <span style="--color: #ff4f4f"></span>
                        <span>Cancel Lunch</span>
                    </div>
                    <div id="exp_container">
                        <span style="--color: #ffdc16"></span>
                        <span>Public Holiday</span>
                    </div>
                </div>

                <div class="myAvoidMeat_container">
                    <label id="avoidMeatLabel">Your Avoid Meat List</label>
						
					
                    <div id="av_checkBox_container">
                        <!-- <span id="avoidMeatCheckbox"><input class="avoidMeat" type="checkbox" value="Pork"/>Pork</span> -->
                        <div th:each="avoidMeatName : ${avoidMeatNameList}" >
	                    	<input class="avoidMeat" type="checkbox" th:value="${avoidMeatName}">
	                    	<span id="avoidmeat_name" th:text="${avoidMeatName}"></span>
	                    </div>
                    </div>
                </div>

            </div>
        </div>

        <form th:action="@{/DAT/lunch_registration_submit}" method="POST">
        
        	<input type="hidden" name="lunchRegisteredId" th:value="${lunchRegister.id}" />
            <input id="rawString" type="hidden" name="rawString" th:value="${lunchRegister.register_status}" />
            
            <input type="hidden" id="avoidMeatList" name="avoidMeatList" th:value="${avoidMeatList}"/>
        
        	<input type="hidden" name="registerFor" th:value="${current_next_option}" />
        	<button type="submit" class="saveLunchRegisterationBtn">Register</button>
        </form>
        
    </div>
    
    <div th:class="${updateMessage_class}">
		<div id="iconBox">
			<lord-icon src="https://cdn.lordicon.com/yqzmiobz.json"
				colors="primary:#00d736"
				trigger="loop" style="width:50px;height:50px"> 
			</lord-icon>
		</div>
		<div id="messageBox">
			<span >SUCCESS!</span>
			<span th:text="${updateMessage}"></span>
		</div>
	</div>

    
    
    <script th:src="@{/js/date.js}"></script>
    <script th:src="@{/js/js.js}"></script>
    <script th:src="@{/js/lunchRegisteration.js}"></script>
    
</body>

</html>