.center_container .close{
    position: absolute;
    top:10px;
    right: 30px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline-style: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333f50;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 50;
}
.center_container .close:hover{
    background-color: #de1f1f;
}
.center_container .close i{
    color: #fff;
    font-size: 1.5em;
}
/**************************************************/




.paymentVoucherMain_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* overflow-y: auto;
    overflow-x: hidden; */
}

.paymentVoucherMain_container::-webkit-scrollbar{
    width: 0.8em;
  }

  
  .paymentVoucherMain_container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  }
  
  .paymentVoucherMain_container::-webkit-scrollbar-thumb{
  background-color: #333f50;
  border-radius: 15px;
  }
  
  .paymentVoucherMain_container::-webkit-scrollbar-thumb:hover{
  background-color: #3d4a5e;
  }
  
  
  
 /*============================================================*/
 
 .filterByContainer{
 	position: relative;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	width: 100%;
 	min-height: 70px;
 	gap: 50px;
 
 }
 
 .filterByContainer .voucherFilter{
 	text-decoration: none;
 	text-align: center;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	width: 180px;
 	min-height: 35px;
 	border: 2px solid #fff;
 	border-radius: 25px;
 	background: #d0d0d0;
 	color: #333f50;
 	cursor: pointer;
 	box-shadow: 0 0 3px rgba(0,0,0,0.3);
 }
 
  .filterByContainer .voucherFilter:hover{
  	background: #eaeaea;
  }
  
  .filterByContainer .voucherFilter.selected{
  	color: #fff;
  	background: #333f50;
  }
  .filterByContainer .voucherFilter.selected:hover{
  	background: #2c3543;
  }
  
  .filterCover{
  	position: absolute;
  	top: -70px;
  	left: 0;
  	right: 0;
  	min-height: 70px;
  	background: rgba(255,255,255,0.7);
  }
  
  .filterCover.show{
  	top: 0px;
  	animation: coverShowAnimation 0.3s forwards;
  }
 
 @keyframes coverShowAnimation{
 	from{
 		top: -70px;
 	}to{
 		top: 0px;
 	}
 
 }
 
 /*=============================================================*/


.paymentVoucherMain_container #dateConfirm_container{
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
}

#dateConfirm_container label{
    color: #333f50;
    margin-left: 25px;
}

#dateConfirm_container #confirmDatePicker{
    color: #333f50;
    margin-left: 10px;
    width: 150px;
    height: 35px;
    font-size: 16px;
    border-radius: 3px;
    border: 2px solid #333f50;
    padding: 0 10px;
}

#dateConfirm_container #confirmDateBtn{
    color: #fff;
    font-weight: 600;
    width: 70px;
    height: 38px;
    outline-style: none;
    border: none;
    border-radius: 3px;
    background-color: #333f50;
    cursor: pointer;
}

#dateConfirm_container #confirmDateBtn:disabled,
#dateConfirm_container #confirmDateBtn:disabled:hover{
    background-color: #8e8e8e;
    cursor: not-allowed;
}
#dateConfirm_container #confirmDateBtn:hover{
    background-color: #2a3543;
}



.table_container {
    /* border: 2px solid #bbbbbb; */
    width: 96%;
    min-height: 400px;
    border-radius: 5px;
    padding: 5px 5px 10px 5px;
    overflow-x: auto;
    margin-top: 10px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    overflow-x: auto;
  }
  
.table_container::-webkit-scrollbar{
    height: 0.6em;
  }
  
  
  .table_container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  }
  
  .table_container::-webkit-scrollbar-thumb{
  background-color: #333f50;
  border-radius: 15px;
  }
  
  .table_container::-webkit-scrollbar-thumb:hover{
  background-color: #3d4a5e;
  }
  
   #nodatafound{
  	position: absolute;
  	top:55%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	color: #96a6bc;
  }
  
  
  
  .main_table {
    table-layout: fixed;
    max-width: fit-content;
    min-width: 100%;
    border-collapse: collapse;
    background-color: white;
  }
  
  .main_table thead {
    font-size: 14px;
    display: table; /* to take the same width as tr */
    width: calc(100% - 0.8em); /* - 17px because of the scrollbar width */
    border-bottom: 1px solid #cccccc;
  }
  
  .main_table thead th{
    background-color: #333f50;
    color: #fff;
  }
  
  .main_table tbody {
    display: block; /* to enable vertical scrolling */
    min-height: 430px;
    max-height: 430px; /* e.g. */
    overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
    
}
  /* tbody:hover {
    overflow-y: auto;
  } */
  .main_table .table_container::-webkit-scrollbar{
      height: 0.7em;
  }
  
  .main_table tbody::-webkit-scrollbar {
    width: 0.7em;
  }
  
  .table_container::-webkit-scrollbar-track,
  .main_table tbody::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
  }
  
  .table_container::-webkit-scrollbar-thumb,
  .main_table tbody::-webkit-scrollbar-thumb {
    background-color: #333f50;
    border-radius: 15px;
  }
  
  .table_container::-webkit-scrollbar-thumb:hover,
  .main_table tbody::-webkit-scrollbar-thumb:hover {
    background-color: #3d4a5e;
  }
  
  .main_table tbody tr:nth-child(even) {
    background-color: #7c8fa68f;
  }
  
  .main_table tbody tr:nth-child(odd) {
    background-color: #efefef;
  }
  
  .main_table thead tr {
    color: #fff;
    min-height: 50px;
    display: table; /* display purpose; th's border */
    width: 100%;
    box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
  }
  .main_table tbody tr {
    color: #333f50;
    min-height: 80px;
    display: table; /* display purpose; th's border */
    width: 100%;
    box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
  }
 
  .main_table th,
  .main_table td {
    padding: 5px;
    word-break: break-all;
    border-left: 1px solid #cccccc;
  }
  
  .main_table tbody td{
    text-align: center;
  }
  /*****************************************/
  .main_table thead th:nth-child(1),
  .main_table tbody td:nth-child(1) {
    min-width: 40px;
    border-left: none;
  }
  .main_table thead th:nth-child(1){
    font-size: 12px;
  }
  /*****************************************/
  .main_table thead th:nth-child(2),
  .main_table tbody td:nth-child(2) {
    min-width: 265px;
  }
  .main_table tbody td:nth-child(2) {
    font-size: 13px !important;
  }
  /*****************************************/
  .main_table thead th:nth-child(3),
  .main_table tbody td:nth-child(3) {
  	word-break: break-word;
    min-width: 150px;
  }
  .main_table tbody td:nth-child(3){
    font-size: 14px !important;
    /* font-weight: 600; */
  }

  /******************************************/
  .main_table thead th:nth-child(4),
  .main_table tbody td:nth-child(4) {
    min-width: 50px;
  }
  .main_table thead th:nth-child(4){
    font-size: 12px;
  }

/*****************************************/
  .main_table thead .cost,
  .main_table tbody .cost {
  	display: none;
    min-width: 60px;
  }
  
  .main_table thead .cost{
  	background-color: #415067;
  }
  
  .main_table thead .cost.show,
  .main_table tbody .cost.show {
  	display: table-cell;
  	min-width: 60px;
  }

  .main_table thead th:nth-child(7),
  .main_table tbody td:nth-child(7) {
  	position: relative;
    min-width: 65px;
  }
  
  .main_table thead th:nth-child(7){
  	text-align: left;
   }
  .main_table thead th:nth-child(7) .costShowBtn{
  	color:#fff;
  	position: absolute;
  	top: 12px;
  	right: 5px;
  	min-width: 27px;
  	min-height: 25px;
  	cursor: pointer;
  	outline-style: none;
  	border:3px solid #fff;
  	border-style: outset;
  	border-radius: 3px;
  	background-color: #333f50;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  }
  
  .main_table thead th:nth-child(7) .costShowBtn.active,
  .main_table thead th:nth-child(7) .costShowBtn:hover{
  	color: #26ff26;
  	border-color: #26ff26;
  	border-radius: 5px;
  	transition: 0.5s;
  }
  
  .main_table thead th:nth-child(5),
  .main_table thead th:nth-child(6),
  .main_table thead th:nth-child(7){
    font-size: 13px !important;
  }
  /*****************************************/
  .main_table thead .amount,
  .main_table tbody .amount {
  	display: none;
    min-width: 100px;
  }
  
  .main_table thead .amount{
  	background-color: #415067;
  }
  
  .main_table thead .amount.show,
  .main_table tbody .amount.show {
  	display: table-cell;
  	min-width: 100px;
  }

  .main_table thead th:nth-child(10),
  .main_table tbody td:nth-child(10) {
  	position: relative;
    min-width: 90px;
  }
   .main_table thead th:nth-child(10){
  	text-align: left;
   }
  .main_table thead th:nth-child(10) .amountShowBtn{
  color: #fff;
  	position: absolute;
  	top: 12px;
  	right: 5px;
  	min-width: 27px;
  	min-height: 25px;
  	cursor: pointer;
  	outline-style: none;
  	border:3px solid #fff;
  	border-style: outset;
  	border-radius: 3px;
  	background-color: #333f50;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  }
  .main_table thead th:nth-child(10) .amountShowBtn.active,
  .main_table thead th:nth-child(10) .amountShowBtn:hover{
  	color: #26ff26;
  	border-color: #26ff26;
  	border-radius: 5px;
  	transition: 0.5s;
  }
 /*========================================*/
  .main_table thead th:nth-child(11),
  .main_table tbody td:nth-child(11) {
    min-width: 100px;
  }
  .main_table thead th:nth-child(12),
  .main_table tbody td:nth-child(12) {
  	text-transform: capitalize;
    min-width: 60px;
  }
  .main_table thead th:nth-child(13),
  .main_table tbody td:nth-child(13) {
  	text-transform: capitalize;
    min-width: 60px;
  }
  
  .main_table thead th:nth-child(13){
  	position:relative;
  	font-size: 13px !important;
  	text-align: left;
  }
  
  .main_table thead th:nth-child(13) .infoShowBtn{
  color: #fff;
  	position: absolute;
  	top: 12px;
  	right: 5px;
  	min-width: 27px;
  	min-height: 25px;
  	cursor: pointer;
  	outline-style: none;
  	border:3px solid #fff;
  	border-style: outset;
  	border-radius: 3px;
  	background-color: #333f50;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  }
  .main_table thead th:nth-child(13) .infoShowBtn.active,
  .main_table thead th:nth-child(13) .infoShowBtn:hover{
  	color: #26ff26;
  	border-color: #26ff26;
  	border-radius: 5px;
  	transition: 0.5s;
  }
  /*----------14,15,16,17-----------------*/
  .main_table thead .info,
  .main_table tbody .info {
  	display: none;
  	word-break: break-word;
    min-width: 150px;
  }
  
  .main_table thead .info{
  	background-color: #415067;
  }
  
  .main_table thead .info.show,
  .main_table tbody .info.show {
  	display: table-cell;
  	min-width: 150px;
  }

  /*------------------------------------*/
  .main_table thead th:nth-child(21),
  .main_table tbody td:nth-child(21) {
    min-width: 45px;
  }
  
  tbody td button{
    width: 45px;
    height: 35px;
    outline-style: none;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #333f50;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  tbody td button:disabled{
  	background-color: #8e8e8e;
    cursor: not-allowed;
  }

  tbody td button:hover{
    background-color: #2b3645;
  }
  tbody td button:disabled:hover{
  	background-color: #8e8e8e;
  }

  tbody td button i {
    font-size: 1.6em;
    color: #fff;
  }
 
 
 /*--------- POP Up -----------------*/
  
  .info_popup_container {
    z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: none;
      align-items: center;
      justify-content: center;
      background-color: #ececece4;
      border-radius: 5px;
  }

  .info_popup_container.open{
    animation: openPopupAnimation 0.4s forwards;
    display: flex;
  }

  
  @keyframes openPopupAnimation {
    from{
      top: 50%;
      left: 50%;
      bottom: 50%;
      right: 50%;
      opacity: 0;
      
    }
    to{
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 1;
      
    }
  }

  .info_popup_container .closePopupBtn{
    position: absolute;
    top:5px;
    right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline-style: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333f50;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.info_popup_container .closePopupBtn:hover{
    background-color: #de1f1f;
}
.info_popup_container .closePopupBtn i{
    color: #fff;
    font-size: 1.5em;
}

.statusEditContainer{
	position:relative;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 5px;
	min-width: 400px;
	min-height: 300px;
	border-radius: 5px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	
}

.info_popup_container.open .statusEditContainer{
	display: flex;
	animation: openPopupAnimation1 0.4s forwards;
}

 @keyframes openPopupAnimation1 {
    from{
      	min-width: 0px;
		min-height: 0px;
      
    }
    to{
        min-width: 400px;
		min-height: 300px;
    }
  }

.statusEditContainer label{
	position: absolute;
	text-align:center;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px 0 ;
	background: #333f50;
	font-size: 1.5em;
	font-weight: 600;
	color: #fff;
}

.statusEditContainer > div {
	width: 100%;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #333f50;
	font-size: 1.2em;
	font-weight: 600;
}
.voucherStatusDropdown{
color: #fff;
    width: 120px;
    height: 40px;
    font-size: 17px;
    outline-style: none;
    border: 2px solid #fff;
    border-radius: 5px;
    padding-left: 10px;
    cursor: pointer;
    background-color: #333f50;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.saveVoucherStatus{
	position: absolute;
	bottom: 20px;
	width: 90%;
	min-height: 50px;
	border: 2px solid #fff;
	border-radius: 5px;
	outline-style: none;
	background: #333f50;
	font-size: 1.2em;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	box-shadow: 0 0 3px rgba(0,0,0,0.4);
}
.saveVoucherStatus:hover{
	background: #2c3543;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
}



