body{
  /* font-family: "helvetica neue", helvetica, arial, sans-serif; */
  font-family: 'Roboto', sans-serif;
  background-color: #e1e8f0;
}


.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #aaaaaa;
}


.forgotPassword {
  position: relative;
  width: 450px;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333f50;
  flex-direction: column;
  border-radius: 5px;
  padding-top: 30px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 7px rgba(56, 56, 56, 0.5);
}

#closeForgotpage {
  position: absolute;
  color: #fff;
  top: 10px;
  right: 10px;
  width: 30px;
  height:30px;
  border-radius: 50%;
  outline-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: #333f50;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
#closeForgotpage:hover{
  transition: background-color 0.3s ease-in-out;
  background-color: #e60000;
}
#closeForgotpage i{
  color: #fff;
  font-size: 1.3em;
}
h1{
  position: absolute;
  top: 5px;
}

#emailprovide_label{
  width: 300px;
  font-size: 13px;
  font-weight: 550;
}

.otp_container {
  position: relative;
  border: 2px solid #333f50;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  gap: 5px;
  margin: 2px;
  border-radius: 3px;
}

.otp_container #email_input{
  color: #333f50;
  width: 100%;
  height: 35px;
  outline-style: none;
  border: none;
  border-radius: 3px;
  padding-left: 5px;
}

.otp_container #email_input:focus,
.otp_container #email_input:read-only{
  background-color: #e9edf3;
}

.otp_container #sendOTP_btn{
  background-color: #333f50;
  color: #fff;
  height: 40px;
  min-width: 60px;
  max-width: 60px;
  font-size: 13px;
  outline-style: none;
  border: 2px solid #fff;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.otp_container #sendOTP_btn:hover{
  background-color: #303b4a;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.otp_container .sendOTP_cover{
  display: none;
  content: "";
  position: absolute;
  right: 0;
  width: 70px;
  height: 45px;
  background-color: #ffffffbd;
  cursor: not-allowed;
}
.otp_container .sendOTP_cover.show{
  display: block;
  animation: otpCoverAnimation 0.5s forwards;
}
@keyframes otpCoverAnimation {
  from{
    width: 0px;
  }to{
    width: 70px;
  }
}
.countDown {
  width: 300px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.countDown .countdownLabel{
  display: none;
  font-size: 13px;
  color: red;
}
.countDown .countdownLabel.show{
  display: block;
}
a {
  color: goldenrod;
  font-size: 13px;
}

/*-----------------------------*/
.invalidEmail{
	display: none;
	position: absolute;
	font-size: 13px;
	text-align: center;
	padding: 5px 10px;
	border-radius: 3px;
	top: 60px;
	left: 0;
	color: #fff;
	background: #ff2b2b;
	animation: invalidEmaiAnimation 1.5s infinite;
}
.invalidEmail.show{
	display: block;
}
.invalidEmail:before{
	content: '';
	position: absolute;
	top: -5px;
	width: 10px;
	height: 10px;
	background: #ff2b2b;
	transform: rotate(45deg);
}
@keyframes invalidEmaiAnimation{
	0%,100%{
		top: 60px;
		
	}
	50%{
		top: 55px;
	}
}
/*----------------------------*/
.otpInput_container{
  width: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.otpInput_container #otpInputLabel{
  font-size: 17px;
  font-weight: 550;
}

.otpInput_container div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
}

.otpInput_container #otpInput{
  text-align: center;
  font-size: 18px;
  width: 100px;
  height: 40px;
  outline-style: none;
  border-radius: 3px;
  border: 2px solid #333f50;
  background-color: #f1f2f5;
}

.otpInput_container #matchOTPBtn{
  color: #fff;
  font-size: 16px;
  width: 60px;
  height: 45px;
  outline-style: none;
  border: 2px solid #fff;
  background-color: #333f50;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.otpInput_container #matchOTPBtn:disabled{
  background-color: #a9a9a9;
  cursor: not-allowed;
}

.password_container {
  min-width: 300px;
  margin-top: 20px;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.password_container #reset_passwordLabel{
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  text-align: left;
}

.password_container > input {
  color: #333f50;
  font-size: 16px;
  outline-style: none;
  width: 290px;
  height: 40px;
  padding-left: 5px;
  outline-style: none;
  border: 2px solid #333f50;
  border-radius: 3px;
}
.password_container > input:focus{
  background-color: #e9edf3;
}

.password_container #invalidStaffId{
	font-size: 12px;
	font-weight: 600;
	color: red;
	width: 290px;
	text-align: left;
}

.password_container #changePasswordBtn{
  font-size: 17px;
  width: 302px;
  height: 45px;
  outline-style: none;
  border: 2px solid #fff;
  border-radius: 3px;
  background-color: #333f50;
  color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.password_container #changePasswordBtn:hover{
  background-color: #2d3746;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.password_container #changePasswordBtn:disabled{
  background-color: #a9a9a9;
  cursor: not-allowed;
}


.coverPassword_container {
	display: flex; 
	position : absolute;
	bottom: 30px;
	width: 320px;
	height: 250px;
	background-color: #ffffffd4;
	border-radius: 5px;
	border: 1px solid #dbdbdb;
	position: absolute;
}

.coverPassword_container.close{
	bottom: -280px;
  /* animation: covetPasswordCloseAnimation 1s forwards; */
}

@keyframes covetPasswordCloseAnimation {
  from{
    bottom: 30px;
  }to{
    bottom: -280px;
  }
}

/* .forgotPassword > input {
  width: 100px;
  height: 30px;
} */

