
.errorMessage{
	display: none;
	position: absolute;
	top: 20px;
	right: 20px;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	background: orange;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	
}
.errorMessage.show{
	display: block;
	animation: errorAnimation 10s forwards;
}
@keyframes errorAnimation{
	0%,100%{
		top: -50px;
	}
	10%,90%{
		top: 20px;
	}
	
}

/************************************************************************************/
.search_upload_container{
    color: #333f50;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.search_upload_container > .search_container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 2px;
}

.search_upload_container > .search_container > input[type="search"] {
    color: #333f50;
    width: 200px;
    height: 40px;
    outline-style: none;
    border: 2px solid #333f50;
    border-radius: 3px 0 0 3px;
    padding-left: 10px;
}

.search_upload_container > .search_container > button{
    width: 70px;
    height: 40px;
    background-color: #333f50;
    color: #fff;
    outline-style: none;
    border: none;
    border-radius: 0 3px 3px 0;
    margin-right: 10px;
    cursor: pointer;
}

/********************************************************/

.addRestaurantBtn{
    position: absolute;
    top: 75px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 35px;
    outline-style: none;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #333f50;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}



  /********************************************************************************************/

  .total_div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
}
.total_div > label {
    color: #333f50;
    font-size: 15px;
    font-weight: 550;
    margin-right: 20px;
}
.total_div > label > span {
    font-weight: 500;
}

/************** Table **********************************************************/


.table_container {
    /* border: 2px solid #bbbbbb; */
    width: 97%;
    border-radius: 5px;
    padding: 5px 5px 10px 5px;
    overflow-x: auto;
    margin-top: 10px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  }
  
  table {
    table-layout: fixed;
    max-width: fit-content;
    min-width: 100%;
    border-collapse: collapse;
    background-color: white;
  }
  
  thead {
    display: table; /* to take the same width as tr */
    width: calc(100% - 0.7em); /* - 17px because of the scrollbar width */
    border-bottom: 1px solid #cccccc;
  }
  
  thead th{
    background-color: #333f50;
    color: #fff;
  }
  
  tbody {
    display: block; /* to enable vertical scrolling */
    min-height: 450px;
    max-height: 450px; /* e.g. */
    overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
  
  }
  /* tbody:hover {
    overflow-y: auto;
  } */
  .table_container::-webkit-scrollbar{
      height: 0.7em;
  }
  
  tbody::-webkit-scrollbar {
    width: 0.7em;
  }
  
  .table_container::-webkit-scrollbar-track,
  tbody::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
  }
  
  .table_container::-webkit-scrollbar-thumb,
  tbody::-webkit-scrollbar-thumb {
    background-color: #333f50;
    border-radius: 15px;
  }
  
  .table_container::-webkit-scrollbar-thumb:hover,
  tbody::-webkit-scrollbar-thumb:hover {
    background-color: #3d4a5e;
  }
  
  tbody tr:nth-child(even) {
    background-color: #7c8fa68f;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #efefef;
  }
  tr {
    height: 50px;
    display: table; /* display purpose; th's border */
    width: 100%;
    box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
  }
  tbody tr{
    height: 110px;
  }
  th,
  td {
    padding: 5px;
    word-break: break-all;
    border-left: 1px solid #cccccc;
  }
  
  thead th{
  	font-size: var(--fontSize);
  }
  
  tbody td{
    font-size: 15px;
    text-align: center;
  }
  
  
  thead th:nth-child(1),
  tbody td:nth-child(1) {
    width: 5%;
    border-left: none;
  }
  
  thead th:nth-child(2),
  tbody td:nth-child(2) {
    width: 17%;
  }
  thead th:nth-child(3),
  tbody td:nth-child(3) {
    width: 28%
  }
  thead th:nth-child(4),
  tbody td:nth-child(4) {
    width: 20%;
  }
  thead th:nth-child(5),/*Phone Number*/
  tbody td:nth-child(5) {
    width: 13%;
  }
  thead th:nth-child(6),
  tbody td:nth-child(6) {
    width: 5%;
  }
  thead th:nth-child(7),
  tbody td:nth-child(7) {
    width: 7%;
  }
  thead th:nth-child(8),
  tbody td:nth-child(8) {
    width: 5%;
  }

  tbody td .statusRadioBtn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: red;
  }

  tbody td .statusRadioBtn.active {
    accent-color: green;
  }


  tbody td button{
  	color: #fff;
    width: 45px;
    height: 45px;
    outline-style: none;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #333f50;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
  }
  tbody td #restaurant_info_btn {
    margin-bottom: 5px;
  }

  tbody td button:hover{
    background-color: #2b3645;
  }

  tbody td button i {
    font-size: 1.6em;
    color: #fff;
  }


  /*************** pagination ********************************************/




  /************** POPUP ******************* */

  .info_popup_container {
    z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: none;
      align-items: center;
      justify-content: center;
      background-color: #ececece4;
      border-radius: 5px;
  }

  .info_popup_container.open{
    animation: openPopupAnimation 0.4s forwards;
    display: flex;
  }

  
  @keyframes openPopupAnimation {
    from{
      top: 50%;
      left: 50%;
      bottom: 50%;
      right: 50%;
      opacity: 0;
      
    }
    to{
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 1;
      
    }
  }

  .info_popup_container .closePopupBtn{
    position: absolute;
    top:5px;
    right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline-style: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333f50;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.info_popup_container .closePopupBtn:hover{
    background-color: #de1f1f;
}
.info_popup_container .closePopupBtn i{
    color: #fff;
    font-size: 1.5em;
}

.info_popup_container > .retaurant_review_container{
	color: #333f50;
    width: 70%;
    height: 90%;
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.info_popup_container.open > .retaurant_review_container.open{
	display: flex;
	animation: openPopupAnimation3 0.5s forwards;
}

@keyframes openPopupAnimation3 {
    from{
        min-width: 0px;
        height: 0%;
      
    }
    to{
        min-width: 70%;
        height: 90%;
      
    }
  }
  
  .retaurant_review_container #reviews_label{
  	font-size: 1.5em;
    font-weight: 600;
    width: 95%;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .retaurant_review_container .reviews_scroll_container{
  	width: 95%;
  	height: 85%;
  	border-radius: 5px;
  	/* border: 1px solid gray; */
  	display: flex;
  	align-items: center;
  	justify-content: flex-start;
  	flex-direction: column;
  	gap: 10px;
  	background-color: #fbfbfb;
  	box-shadow: 0 0 5px 1px rgba(0,0,0,0.3) inset;
  	overflow-y: auto;
  }
    .retaurant_review_container .reviews_scroll_container::-webkit-scrollbar{
      height: 0.7em;
  }
  
  .retaurant_review_container .reviews_scroll_container::-webkit-scrollbar {
    width: 0.7em;
  }
  
  .retaurant_review_container .reviews_scroll_container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
  }
  
  .retaurant_review_container .reviews_scroll_container::-webkit-scrollbar-thumb {
    background-color: #333f50;
    border-radius: 15px;
  }
  
  .retaurant_review_container .reviews_scroll_container::-webkit-scrollbar-thumb:hover {
    background-color: #3d4a5e;
  }
  
  .reviews_scroll_container #review{
  position: relative;
  	width: 95%;
  	border-radius: 5px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	background-color: #fff;
  	box-shadow: 0 0 3px rgba(0,0,0,0.3);
  }
  .reviews_scroll_container #review:nth-child(1){
  	margin-top: 20px;
  }
  .reviews_scroll_container #review:nth-last-child(1)
  {
  	margin-bottom: 20px;
  }
  
  .reviews_scroll_container #review #time{
  	position: absolute;
  	color: #333f50;
  	top: 10px;
  	right: 10px;
  	font-weight: 600;
  }
  
  .reviews_scroll_container #review #review_text{
  	font-size: 18px;
  	line-height: 1.8em;
  	font-weight: 600px;
  	width: 100%;
  	text-align: left;
  	min-height: 60px;
  	/* border: 1px solid gray; */
  	border-radius: 5px;
  	margin: 35px 10px 5px 10px;
  	padding: 5px 10px;
  	background: #ebebeb;
  }
 
  
  /*-----------------------------------------------------------*/

.info_popup_container > .restaurant_detail_container{
    color: #333f50;
    min-width: 600px;
    height: 90%;
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.info_popup_container.open > .restaurant_detail_container.open{
    animation: openPopupAnimation1 0.5s forwards;
    display: flex;
    
}

@keyframes openPopupAnimation1 {
    from{
        min-width: 0px;
        height: 0%;
      
    }
    to{
        min-width: 600px;
        height: 90%;
      
    }
  }

.info_popup_container > .restaurant_detail_container #staffDetail_label{
    font-size: 1.4em;
    font-weight: 600;
    width: 90%;
    text-align: left;
    margin-bottom: 50px;
}
.info_popup_container > .restaurant_detail_container div{
    width: 90%;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.info_popup_container > .restaurant_detail_container div span{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #333f50;
}
.info_popup_container > .restaurant_detail_container div span:nth-child(1){
    font-weight: 550;
}



.info_popup_container > .restaurant_info_update_container{
    color: #333f50;
    min-width: 70%;
    height: 90%;
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.info_popup_container > .restaurant_info_update_container.open{
    display: flex;
    animation: openPopupAnimation2 0.5s forwards;
}

@keyframes openPopupAnimation2 {
    from{
        min-width: 0%;
        height: 0%;
      
    }
    to{
        min-width: 70%;
        height: 90%;
      
    }
  }

  .info_popup_container > .restaurant_info_update_container #staff_info_edit_label{
    font-size: 1.8em;
    font-weight: 600;
    width: 90%;
    margin-bottom: 50px;
    text-align: left;
  }

  .info_popup_container > .restaurant_info_update_container div{
    width: 90%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .info_popup_container > .restaurant_info_update_container > div > div{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    
  }
  .info_popup_container > .restaurant_info_update_container > div > div > div{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    
  }

  .info_popup_container > .restaurant_info_update_container > div > div > div > input{
    font-size: 16px;
    color: #333f50;
    width: 80%;
    height: 45px;
    outline-style: none;
    border: 2px solid #333f50;
    border-radius: 3px;
    padding-left: 5px;
  }

  .info_popup_container > .restaurant_info_update_container > div > div > div:nth-child(2){
    height: 100px;
  }

  
  .info_popup_container > .restaurant_info_update_container > div > div > div:nth-child(2) > textarea{
    font-size: 16px;
    color: #333f50;
    min-width: 80%;
    max-width: 80%;
    min-height: 100px;
    max-height: 100px;
    outline-style: none;
    border: 2px solid #333f50;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
  }

  .info_popup_container > .restaurant_info_update_container > div > div > div > input:focus,
  .info_popup_container > .restaurant_info_update_container > div > div > div:nth-child(2) > textarea:focus
  {
    background-color: #e9edf0;
  }

  .info_popup_container > .restaurant_info_update_container > div > div > div > span{
    color: red;
    font-size: 20px;
    font-weight: bold;
  }

  .info_popup_container > .restaurant_info_update_container > div > div:nth-child(2) {
    gap: 50px;
  }

  .info_popup_container > .restaurant_info_update_container > div > div:nth-child(2) > div{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    
  }
  
  .info_popup_container > .restaurant_info_update_container > div > div:nth-child(2) > div > label{
    font-size: 17px;
    font-weight: 550;
    margin-right: 50px;
    margin-left: 50px;
  }

  .info_popup_container > .restaurant_info_update_container > div > div:nth-child(2) > div > select{
    width: 120px;
    height: 40px;
    outline-style: none;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #333f50;
    color: #fff;
    font-size: 17px;
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  
  .info_popup_container > .restaurant_info_update_container > div > div:nth-child(2) > div:nth-child(2){
    justify-content: flex-end;
  }

  .info_popup_container > .restaurant_info_update_container > div > div:nth-child(2) > div:nth-child(2) > .clear_all_field_btn{
    margin-right: 100px;
    width: 130px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    outline-style: none;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #333f50;
    font-size: 13px;
    font-weight: bold;
    background-color: #cad3dd;
    cursor: pointer;

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }

  .info_popup_container > .restaurant_info_update_container > div > div:nth-child(2) > div:nth-child(2) > .clear_all_field_btn:hover{
    background-color: #aebac9;
    transition: color 0.3s ease-in-out;
    color: #e92929;
  }
  
    .info_popup_container > .restaurant_info_update_container > div > div:nth-child(2) > div:nth-child(2) > .clear_all_field_btn.remove{
    	display: none;
    }


  .info_popup_container > .restaurant_info_update_container #saveupadateDiv {
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .info_popup_container > .restaurant_info_update_container #saveupadateDiv button{
    width: 80px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    outline-style: none;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #333f50;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .info_popup_container > .restaurant_info_update_container #saveupadateDiv button:nth-child(1){
    background-color: #df1a1a;
  }

  