.center_container .refreshBtn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline-style: none;
    border-radius: 5px;
    gap: 5px;
    font-size: 1em;
    border: 2px solid #fff;
    background-color: #333f50;
    color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.center_container .refreshBtn:hover{
    background-color: #2a3341;
}

.center_container .refreshBtn i{
    font-size: 1.4em;
}

/*----------------- Help ---------------------------*/

.help{
	position: absolute;
	top:5px;
	left:15px;
	width: 500px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.help #help_icon{
	z-index: 20;
	width: 25px;
	height:25px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-style: outset;
	border-radius: 50%;
	color: #fff;
	font-weight: 600;
	background: #333f50;
	cursor: pointer;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.help #help_icon:hover{
	background: green;
	transition: 0.3s;
}

.help #help_title{
	z-index: 15px;
	position: absolute;
	left: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	font-size: 14px;
	font-weight: 600;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #333f50;
	width: 250px;
	min-height: 20px;
	max-height: 20px;
	background: #f2f2f2;
	border-style: outset;
	border-radius: 0 10px 10px 0;
	overflow: hidden;
	
}
.help #help_icon:hover + #help_title{
	display: flex;
	animation: helpAnimation 0.5s forwards;
}
@keyframes helpAnimation{
	from{
		width: 0px;
	}to{
		width: 250px;
	}
}

/************************************************************************************/
/************************************************************************************/
.search_upload_container{
    color: #333f50;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 85px;
}

.search_upload_container > .search_container{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 12px;
    gap: 2px;
}

.search_upload_container > .search_container > .searchReplace_container{
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
    padding: 3px;
    margin-right: 10px;
    background-color: #fff;
}
.search_upload_container > .search_container > .searchReplace_container.close{
    display: none;
}

.search_upload_container > .search_container > .searchReplace_paper_container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: 46px;
    background-color: #ffffffc0;
    margin-right: 10px;
    background-color: #fff;
}

.search_upload_container > .search_container > .searchReplace_paper_container.close{
    display: none;
}


.search_upload_container > .search_container > .searchReplace_container > input[type="search"] {
    color: #333f50;
    width: 200px;
    height: 40px;
    outline-style: none;
    border: 2px solid #333f50;
    border-radius: 3px 0 0 3px;
    padding-left: 10px;
}


.search_upload_container > .search_container > .searchReplace_container > button
{
    width: 70px;
    height: 40px;
    background-color: #333f50;
    color: #fff;
    outline-style: none;
    border: none;
    border-radius: 0 3px 3px 0;
   
    cursor: pointer;
}

.search_upload_container > .search_container > .filter_dropdown,
.search_upload_container > .search_container > .searchReplace_paper_container >.filter_paper_dropdown{
    color: #fff;
    width: 150px;
    height: 40px;
    font-size: 17px;
    outline-style: none;
    border: 2px solid #fff;
    border-radius: 5px;
    padding-left: 10px;
    cursor: pointer;
    background-color: #333f50;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.search_upload_container > .search_container > .searchReplace_paper_container > button
{
    width: 70px;
    height: 40px;
    background-color: #333f50;
    color: #fff;
    outline-style: none;
    border: none;
    border-radius: 3px ;
   	margin-left: 4px;
    cursor: pointer;
}

.inputFile_container {
    position: absolute;
    top: 38px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    padding-right: 10px;
    
  }
  
  .inputFile_container #inputFile {
    padding: 3px;
    background-color: #cad0d8;
    border-radius: 3px;
    outline-style: none;
    border: none;
    width: 320px;
  }
  .inputFile_container #inputFile::-webkit-file-upload-button {
    position: absolute;
    visibility: hidden;
  }
  .inputFile_container #inputFile::before {
    content: "Upload File";
    color: #fff;
    display: inline-block;
    background: #333f50;
  
    border-radius: 3px;
    padding: 8px 10px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    margin-right: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  }
  .inputFile_container #inputFile:hover::before {
    background-color: #3f4d60;
  }
  .inputFile_container #inputFile:active {
    outline: 0;
  }
  
  .inputFile_container #saveFileBtn {
    outline-style: none;
    width: 80px;
    height: 39px;
    font-weight: 550;
    background-color: #333f50;
    border-radius: 3px;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .inputFile_container #saveFileBtn:disabled,
  .inputFile_container #saveFileBtn:disabled:hover{
    background-color: #cacaca;
    cursor: not-allowed;
  }
  
  .inputFile_container #saveFileBtn:hover {
    background-color: #3f4d60;
  }
  
  #fileUploadErrorBox{
  	color: #ff3c3c;
  	position: absolute;
  	top: 80px;
  	left: 430px;

  	height: 35px;
  	line-height: 2em;
  }
  


  /********************************************************************************************/

  .total_div{
  	position: absolute;
  	top: 100px;
  	right: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
   
}
.total_div > label {
    color: #333f50;
    font-size: 15px;
    font-weight: 550;
    margin-right: 20px;
}
.total_div > label > span {
    font-weight: 500;
}

/************** Table **********************************************************/


.table_container {
    /* border: 2px solid #bbbbbb; */
    width: 97%;
    border-radius: 5px;
    padding: 5px 5px 10px 5px;
    overflow-x: auto;
    margin-top: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  }
  
  table {
    table-layout: fixed;
    max-width: fit-content;
    min-width: 100%;
    border-collapse: collapse;
    background-color: white;
  }
  
  thead {
    display: table; /* to take the same width as tr */
    width: calc(100% - 0.7em); /* - 17px because of the scrollbar width */
    border-bottom: 1px solid #cccccc;
  }
  
  thead th{
    background-color: #333f50;
    color: #fff;
  }
  
  tbody {
    display: block; /* to enable vertical scrolling */
    min-height: 400px;
    max-height: 400px; /* e.g. */
    overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
  
  }
  /* tbody:hover {
    overflow-y: auto;
  } */
  .table_container::-webkit-scrollbar{
      height: 0.7em;
  }
  
  tbody::-webkit-scrollbar {
    width: 0.7em;
  }
  
  .table_container::-webkit-scrollbar-track,
  tbody::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
  }
  
  .table_container::-webkit-scrollbar-thumb,
  tbody::-webkit-scrollbar-thumb {
    background-color: #333f50;
    border-radius: 15px;
  }
  
  .table_container::-webkit-scrollbar-thumb:hover,
  tbody::-webkit-scrollbar-thumb:hover {
    background-color: #3d4a5e;
  }
  
  tbody tr:nth-child(even) {
    background-color: #7c8fa68f;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #efefef;
  }
  tr {
    height: 50px;
    display: table; /* display purpose; th's border */
    width: 100%;
    box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
  }
  th,
  td {
    padding: 5px;
    word-break: break-all;
    border-left: 1px solid #cccccc;
  }
  
  tbody td{
    font-size: 15px;
    text-align: center;
  }
  
  thead th:nth-child(1),
  tbody td:nth-child(1) {
    width: 5%;
    border-left: none;
  }
  
  thead th:nth-child(2),
  tbody td:nth-child(2) {
    width: 8%;
  }
  thead th:nth-child(3),
  tbody td:nth-child(3) {
    width: 15%
  }
  thead th:nth-child(4),
  tbody td:nth-child(4) {
    width: 30%;
  }
  thead th:nth-child(5),
  tbody td:nth-child(5) {
    width: 25%;
  }
  thead th:nth-child(6),
  tbody td:nth-child(6) {
    width: 7%;
  }
  thead th:nth-child(7),
  tbody td:nth-child(7) {
    width: 5%;
  }
  thead th:nth-child(8),
  tbody td:nth-child(8) {
    min-width: 5%;
  }

  tbody td button{
    width: 45px;
    height: 35px;
    outline-style: none;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #333f50;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  tbody td button:hover{
    background-color: #2b3645;
  }

  tbody td button i {
    font-size: 1.6em;
    color: #fff;
  }



/*============== INfo popup ===================*/

  .info_popup_container {
    z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: none;
      align-items: center;
      justify-content: center;
      background-color: #ececece4;
      border-radius: 5px;
  }

  .info_popup_container.open{
    animation: openPopupAnimation 0.4s forwards;
    display: flex;
  }

  
  @keyframes openPopupAnimation {
    from{
      top: 50%;
      left: 50%;
      bottom: 50%;
      right: 50%;
      opacity: 0;
      
    }
    to{
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 1;
      
    }
  }

  .info_popup_container .closePopupBtn{
    position: absolute;
    top:5px;
    right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline-style: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333f50;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.info_popup_container .closePopupBtn:hover{
    background-color: #de1f1f;
}
.info_popup_container .closePopupBtn i{
    color: #fff;
    font-size: 1.5em;
}

.info_popup_container > .staff_detail_container{
    color: #333f50;
    min-width: 600px;
    height: 90%;
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.info_popup_container.open > .staff_detail_container.open{
    animation: openPopupAnimation1 0.5s forwards;
    display: flex;
    
}

@keyframes openPopupAnimation1 {
    from{
        min-width: 0px;
        height: 0%;
      
    }
    to{
        min-width: 600px;
        height: 90%;
      
    }
  }

.info_popup_container > .staff_detail_container #staffDetail_label{
    font-size: 1.4em;
    font-weight: 600;
    width: 90%;
    text-align: left;
    margin-bottom: 10px;
}
.info_popup_container > .staff_detail_container div{
    width: 90%;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.info_popup_container > .staff_detail_container div span{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #333f50;
}
.info_popup_container > .staff_detail_container div span:nth-child(1){
    font-weight: 550;
}



.info_popup_container > .staff_info_update_container{
    color: #333f50;
    min-width: 70%;
    height: 90%;
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.info_popup_container > .staff_info_update_container.open{
    display: flex;
    animation: openPopupAnimation2 0.5s forwards;
}

@keyframes openPopupAnimation2 {
    from{
        min-width: 0%;
        height: 0%;
      
    }
    to{
        min-width: 70%;
        height: 90%;
      
    }
  }

  .info_popup_container > .staff_info_update_container #staff_info_edit_label{
    font-size: 1.8em;
    font-weight: 600;
    width: 90%;
    margin-bottom: 20px;
    text-align: left;
  }

  .info_popup_container > .staff_info_update_container div{
    width: 90%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    

  }

  .info_popup_container > .staff_info_update_container > div > div{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    
  }
  .info_popup_container > .staff_info_update_container > div > div > div{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    
  }

  .info_popup_container > .staff_info_update_container > div > div > div > input{
    font-size: 16px;
    color: #333f50;
    width: 80%;
    height: 45px;
    outline-style: none;
    border: 2px solid #333f50;
    border-radius: 3px;
    padding-left: 5px;
  }

  .info_popup_container > .staff_info_update_container > div > div > div > input:focus,
  .info_popup_container > .staff_info_update_container > div > div > div > input:read-only{
    background-color: #e9edf0;
  }

  .info_popup_container > .staff_info_update_container > div > div > div > span{
    color: red;
    font-size: 20px;
    font-weight: bold;
  }

  .info_popup_container > .staff_info_update_container > div > div:nth-child(2) {
    gap: 50px;
  }

  .info_popup_container > .staff_info_update_container > div > div:nth-child(2) > div{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    
  }
  
  .info_popup_container > .staff_info_update_container > div > div:nth-child(2) > div > label{
    font-size: 17px;
    font-weight: 550;
    margin-right: 50px;
    margin-left: 50px;
  }

  .info_popup_container > .staff_info_update_container > div > div:nth-child(2) > div > select{
    width: 120px;
    height: 40px;
    outline-style: none;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #333f50;
    color: #fff;
    font-size: 17px;
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .info_popup_container > .staff_info_update_container > div > div:nth-child(2) > div:nth-child(2) > select{
    margin-left: 15px;
  }



  .info_popup_container > .staff_info_update_container #edit_div_bottom {
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .info_popup_container > .staff_info_update_container #edit_div_bottom .saveInfoEidtBtn{
    width: 80px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    outline-style: none;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #333f50;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
 

/*============== Help popup Container =============*/

.helpPopupContainer{
	z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: none;
      align-items: center;
      justify-content: center;
      background-color: #ececece4;
      border-radius: 5px;
	
}

 .helpPopupContainer.open{
    animation: openPopupAnimation 0.4s forwards;
    display: flex;
  }

  
  @keyframes openPopupAnimation {
    from{
      top: 50%;
      left: 50%;
      bottom: 50%;
      right: 50%;
      opacity: 0;
      
    }
    to{
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 1;
      
    }
  }

  .helpPopupContainer .closePopupBtn{
    position: absolute;
    top:5px;
    right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline-style: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333f50;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.helpPopupContainer .closePopupBtn:hover{
    background-color: #de1f1f;
}
.helpPopupContainer .closePopupBtn i{
    color: #fff;
    font-size: 1.5em;
}


.helpCenterContainer{
	position: absolute;
	top: 10px;
	bottom: 10px;
	width: 60%;
	min-width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 15px;
	background: #ffff;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	
}
.helpCenterContainer label{
	position: absolute;
	top: 20px;
	font-size: 2em;
	font-weight: 600;
	color: #333f50;
	text-decoration: underline;
}

.helpCenterContainer img{
	width: 75%;
	height: auto;
	max-height: 70%;
	border-radius: 15px;
	border: 3px outset #fff;
	box-shadow : 0 0 5px 0px rgba(0,0,0,0.2);
}
.helpCenterContainer span:last-child {
	position: absolute;
	bottom: 30px;
	left: 13%;
	width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333f50;
	font-weight: 600;
}
.closeHelpPopupBtn{
    position: absolute;
    top:5px;
    right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline-style: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333f50;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
 .closeHelpPopupBtn:hover{
    background-color: #de1f1f;
}
.closeHelpPopupBtn i{
    color: #fff;
    font-size: 1.5em;
}
  
  