<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head> 
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="https://kit.fontawesome.com/87c5ba1f8d.js" crossorigin="anonymous"></script>
  
  <link rel="shortcut icon" th:href="@{/images/DAT favIcon.png}" type="image/x-icon">
  
  <link rel="stylesheet" th:href="@{/css/forgotPAssword.css}" />
  <title>CSMIS - Forgot Password</title>
</head>

<body>
  <div class="container">
    <div class="forgotPassword">

      <form th:action="@{/showMyLoginPage}" method="POST">
		<button type="submit" id="closeForgotpage"><i class="fa-solid fa-xmark"></i></button>
	  </form>

      <h1>Forgot Password?</h1>

      <label id="emailprovide_label">Provide your valid email to get OTP.</label>

      <form class="otp_container" th:action="@{/DAT/send_otp}">
        <input id="email_input" type="email" name="email" th:value="${inputEmail}" placeholder="Enter your email" />
        <button type="submit" id="sendOTP_btn">Send OTP</button>
        <span class="sendOTP_cover show"></span>
        
        <strong th:class="'invalidEmail ' + ${invalidEmail}">Invalid Email!</strong>
      </form>
      
      

      <div class="countDown">
      	<input id="countdownShowHidden" type="hidden" th:value="${countShow}"/>
        <label class="countdownLabel">Count down 15s</label>
        <!-- <a href="#">Resend OTP</a> -->
      </div>


      <div class="otpInput_container">
        <label id="otpInputLabel">Enter Your OTP</label>
        <div>
          <input id="otpTempHidden" type="hidden" th:value="${otp}"/>
          <input id="otpInput" type="text" name="number_OTP" />
          <button id="matchOTPBtn">Match</button>
        </div>
      </div>

      <form th:action="@{/DAT/change_password}" method="POST" class="password_container">
        <label id="reset_passwordLabel">Reset Your Password</label>
        
        <input id="staffId" type="hidden" th:value="${staffId}" name="staffId" placeholder="Staff ID" title="Staff ID" readonly="readonly"/>
        <span id="invalidStaffId" th:text="${invalidStaffId}"></span>
        
        <input id="new_password" type="password" name="new_password" placeholder="Create new password" title="New Password" />
        
        <input id="confirm_password" type="password" name="comfirm_new_password" placeholder="Comfirm new password" title="Confirm Password" />
        
        <button id="changePasswordBtn" type="submit" disabled>Change Password</button>
      </form>

      <div class="coverPassword_container"></div>


    </div>
  </div>



  <script th:src="@{/js/forgotPassword.js}"></script>
</body>

</html>